header, nav, section, article, footer { display: block; }

body {
    padding-top: 80px;
    padding-bottom: 40px;
}

.none {
	display: none !important;
}

.pb0 { padding-bottom: 0 !important; }
.mb0 { margin-bottom: 0 !important; }

sup { color: red; }

.input-lg {
	font-size: 0.9 em !important;
	padding: 10px !important;
}

[type!="checkbox"],button:focus { 
    outline: 0 !important; 
    -webkit-appearance: none !important; 
    -webkit-box-shadow: none !important; 
    box-shadow: none !important; 
    border-color: #ccc !important; 
}

.alert {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 88888;
}

.page-header {
    margin: 10px 0 20px;
}

.list-group-item {
    position: relative;
}

.list-group-item.active b.text-muted {
    color: #fff;
}

.list-group-item.noUpdate {
    padding-right: 43px
}

.list-group-item.noUpdate.withModal {
	padding-right: 0;
}

.list-group-item.noUpdate > span.arrow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 13px;
    height: 100%;
    vertical-align: middle;
}

.list-group-item.noUpdate > span.arrow > i {
    top: 40%;
    right: 15px;
}

.list-group-item.noUpdate button.btn-link {
	font-size: 23px;
	height: 30px;
}

div.section.form-group {
    margin: 0;
    padding: 0;
}

.btn-primary {
	color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b;
    background-image: none
}

.btn-outline-primary {
    color: #0275d8;
    background-image: none;
    background-color: transparent;
    border-color: #0275d8
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8
}

.btn-outline-info {
	color: #5bc0de;
	background-image: none;
	background-color: transparent;
	border-color: #5bc0de;
}

.btn-outline-info:hover,
.btn-outline-info:focus {
	color: #fff;
	background-color: #5bc0de;
	border-color: #5bc0de;
}

.btn-outnline-info:active {
    color: #fff;
    background-color: #31b0d5;
    border-color: #2aabd2;
    background-image: none
}

.btn-outline-warning {
    color: #f0ad4e;
    background-image: none;
    background-color: transparent;
    border-color: #f0ad4e
}

.btn-outline-warning:hover,
.btn-outline-warning:focus,
.btn-outline-warning:active {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e
}

.btn-outline-secondary {
	/*
    color: #ccc;
    background-image: none;
    background-color: transparent;
    border-color: #ccc
    */
    color: #5bc0de;
	background-image: none;
	background-color: transparent;
	border-color: #5bc0de;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active {
	/*
    color: #fff;
    background-color: #ccc;
    border-color: #ccc;
    */
    color: #fff;
	background-color: #5bc0de;
	border-color: #5bc0de;
}


footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 40px;
	color: #fff;
	background-color: #025aa5;
	line-height: 40px;
    padding: 0 15px;
}

.subMenu {
    display: none;
}

/***********************************/
/*				LOADER			   */
/***********************************/


.page-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #025aa5;
    display: block;
    z-index: 99999999;
}

.loader {
	background-color: white;
	position: absolute;
	height: 250px;
	top: 50%;
	margin-top: -125px;
	left: 0;
	right: 0;	
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

.loader p {
	font-family: "Montserrat", Helvetica, sans-serif;
    position: absolute;
	font-weight: normal;
    top: 74%;
    width: 100%;
    font-size: 18px;
	margin-top: 40px;
    color: gray	;
}

.img-loader{
	margin-top:10px;
}

/*Preloader 1*/

.loader-style-1 {
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.5s 0.1s;
    transition: transform 0.5s 0.1s;
    perspective: 9999px;
    color: #3e3e3e;
    margin: -40px 0 0 -40px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-left: -37px;
    top: 65px;
    opacity: 1;
}

.loader-style-1.panelLoad {
    z-index: 11;
    top: 67%;
    margin-top: -60px;
    -webkit-animation: panel 2.2s infinite forwards;
    animation: panel 2.2s infinite forwards;
}

.loader-style-1.panelLoad .cube-face {
    color: black;
    box-shadow: inset 0 0 0 1px #229CC1, 0 0 1px 1px #229CC1;
}

.loader-style-1 .cube-face {
    width: inherit;
    height: inherit;
    position: absolute;
    background: white;
    box-shadow: inset 0 0 0 1px #3e3e3e, 0 0 1px 1px #3e3e3e;
    opacity: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.loader-style-1 .cube-face-front {
    transform: translate3d(0, 0, 40px);
    -webkit-transform: translate3d(0, 0, 40px);
    font-size: 30px;
}

.loader-style-1 .cube-face-back {
    -webkit-transform: rotateY(180deg) translate3d(0, 0, 40px);
    transform: rotateY(180deg) translate3d(0, 0, 40px);
}

.loader-style-1 .cube-face-left {
    -webkit-transform: rotateY(-90deg) translate3d(0, 0, 40px);
    transform: rotateY(-90deg) translate3d(0, 0, 40px);
}

.loader-style-1 .cube-face-right {
    -webkit-transform: rotateY(90deg) translate3d(0, 0, 40px);
    transform: rotateY(90deg) translate3d(0, 0, 40px);
}

.loader-style-1 .cube-face-top {
    -webkit-transform: rotateX(90deg) translate3d(0, 0, 40px);
    transform: rotateX(90deg) translate3d(0, 0, 40px);
}

.loader-style-1 .cube-face-bottom {
    -webkit-transform: rotateX(-90deg) translate3d(0, 0, 40px);
    transform: rotateX(-90deg) translate3d(0, 0, 40px);
}

#modalWBS .modal-title.text-center.text-primary{
	font-weight: 700;
}

#modalWBS .modal-body {
	padding: 0.5rem 1rem 0.5rem 1rem;	
}

#modalWBS .modal-body > button.setWbs {
	margin: 1rem 0 1rem 0;
    font-size: 2rem;
}

@-webkit-keyframes panel {
    0% {
        -webkit-transform: rotateY(0deg) rotateZ(0deg);
    }
    20% {
        -webkit-transform: rotateY(90deg) rotateZ(0deg);
    }
    40% {
        -webkit-transform: rotateX(45deg) rotateZ(45deg);
    }
    60% {
        -webkit-transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
    }
    80% {
        -webkit-transform: rotateX(310deg) rotateZ(230deg);
    }
    100% {
        -webkit-transform: rotateX(360deg) rotateZ(360deg);
    }
}

@keyframes panel {
    0% {
        -webkit-transform: rotateY(0deg) rotateZ(0deg);
        transform: rotateY(0deg) rotateZ(0deg);
    }
    20% {
        -webkit-transform: rotateY(90deg) rotateZ(0deg);
        transform: rotateY(90deg) rotateZ(0deg);
    }
    40% {
        -webkit-transform: rotateX(45deg) rotateZ(45deg);
        transform: rotateX(45deg) rotateZ(45deg);
    }
    60% {
        -webkit-transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
        transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
    }
    80% {
        -webkit-transform: rotateX(310deg) rotateZ(230deg);
        transform: rotateX(310deg) rotateZ(230deg);
    }
    100% {
        -webkit-transform: rotateX(360deg) rotateZ(360deg);
        transform: rotateX(360deg) rotateZ(360deg);
    }
}


/*Preloader 2*/

.loader-style-2 {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -28px 0 -25px 0;
    border-bottom: 2px solid rgba(0, 0, 0, .1);
    border-left: 2px solid rgba(0, 0, 0, .1);
    border-right: 2px solid rgba(0, 0, 0, .1);
    border-top: 3px solid #2A94F6;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    -webkit-animation: spinn .6s infinite linear;
    animation: spinn .6s infinite linear;
}

@-webkit-keyframes spinn {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spinn {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}


.fullHeightContentRow{
    display: flex;
    align-content: stretch;
}

.centeredBtnAction{
    display: flex;
    justify-content: center;
    align-items: center;
}


.intestazioneBatch{
	color: black;
	padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.modalBatch{
	display:flex;
	justify-content: space-between;
}
